<div class="container">
  <h1>Tuan 03 - Bai 04</h1>
  <ul class="nav nav-tabs">
    <li *ngFor="let nav of listNav" class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        role="tab"
        data-bs-toggle="tab"
        href="#{{ nav.id }}"
        >{{ nav.title }}</a
      >
    </li>
    <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li> -->
  </ul>

  <div class="tab-content my-2">
    <div
      *ngFor="let content of listContent"
      class="tab-pane fade show"
      id="{{ content.id }}"
      role="tabpanel"
      [attr.aria-labelledby]="content.aria"
    >
      <div class="row">
        <div class="col-md-9">
          <div class="h5">{{ content.title }}</div>
          <p>{{ content.content }}</p>
        </div>
        <div class="col-md-3">
          <img
            src="https://picsum.photos/id/{{ content.value }}/200/300"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
