<div class="container mb-5">
  <h1>Tuan 03 - Bai 03</h1>
  <div class="h2 text-center bg-danger text-light">
    ĐỌC TRUYỆN CƯỜI NƯỚC NGOÀI
  </div>
  <p>
    <a
      class="btn btn-primary me-2"
      data-bs-toggle="collapse"
      href="#truyen1"
      role="button"
      aria-expanded="false"
      aria-controls="truyen1"
    >
      VOVA GHEN
    </a>
    <a
      class="btn btn-primary me-2"
      data-bs-toggle="collapse"
      href="#truyen2"
      role="button"
      aria-expanded="false"
      aria-controls="truyen2"
    >
      TƯỞNG BỞ
    </a>
    <a
      class="btn btn-primary me-2"
      data-bs-toggle="collapse"
      href="#truyen3"
      role="button"
      aria-expanded="false"
      aria-controls="truyen3"
    >
      TRUYỆN 03
    </a>
    <a
      class="btn btn-primary me-2"
      data-bs-toggle="collapse"
      href="#truyen4"
      role="button"
      aria-expanded="false"
      aria-controls="truyen4"
    >
      TRUYỆN 04
    </a>
    <a
      class="btn btn-primary me-2"
      data-bs-toggle="collapse"
      href="#truyen5"
      role="button"
      aria-expanded="false"
      aria-controls="truyen5"
    >
      TRUYỆN 05
    </a>
    <a
      class="btn btn-primary me-2"
      data-bs-toggle="collapse"
      href="#truyen6"
      role="button"
      aria-expanded="false"
      aria-controls="truyen6"
    >
      TRUYỆN 06
    </a>
  </p>
  <div class="collapse" id="truyen1">
    <div class="card card-body">
      <h3>VOVA GHEN</h3>
      Giữa trưa nắng , một Vova đèo một cô bé trên một chiếc xe đạp mini bé
      tí.<br />
      Vẻ mặt cậu bé có vẻ rất bực. Đang đi Vova quay lại nói với cô bé :<br />
      - Này, tại sao chiều hôm qua em lại đi chơi đồ hàng với thằng lớp 2B hả?
    </div>
  </div>
  <div class="collapse" id="truyen2">
    <div class="card card-body">
      <h2>TƯỞNG BỞ</h2>
      Đang trên đường, cận thị đuổi theo sáng mắt.<br />
      - CT (Vỗ vai): Này, hình như em gái ông nó thinh thích tôi hay sao ấy. Hôm
      qua nó c ứ đứng ở dưới cửa sổ cầm khăn vẫy tôi mãi.<br />
      - SM: Thế nó cầm khăn màu gì?<br />
      - CT: Màu đen<br />
      - SM: Tốt, cuối cùng thì nó cũng chịu lau cửa sổ.<br />
      - CT: Ủa…trời!!!
    </div>
  </div>
  <div class="collapse" id="truyen3">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 3</h2>
      <p>...</p>
    </div>
  </div>
  <div class="collapse" id="truyen4">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 4</h2>
      <p>...</p>
    </div>
  </div>
  <div class="collapse" id="truyen5">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 5</h2>
      <p>...</p>
    </div>
  </div>
  <div class="collapse" id="truyen6">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 6</h2>
      <p>...</p>
    </div>
  </div>
</div>
